body{
	margin: 0;
	padding: 0;
}
.menu{
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 220px;
	height: 220px;
	filter:url("#goo");
}
.menu .item{
	position: absolute;
	top: 80px;
	left: 80px;
	width: 60px;
	height: 60px;
	line-height: 60px;
	background: #ff0b59;
	color: #fff;
	text-align: center;
	border-radius: 50%;
	transition: transform 600ms ease-out;
	cursor: pointer;
}
.item.open-menu{
	z-index: 1;
	transition: transform 300ms ease-out;
	transition-delay: 300ms;
}
.opened .item:nth-child(2){ transform: translateX(80px); }
.opened .item:nth-child(3){ transform: translateX(40px) translateY(70px); }
.opened .item:nth-child(4){ transform: translateX(-40px) translateY(70px); }
.opened .item:nth-child(5){ transform: translateX(-80px); }
.opened .item:nth-child(6){ transform: translateX(-40px) translateY(-70px); }
.opened .item:nth-child(7){ transform: translateX(40px) translateY(-70px); }

.opened .item.open-menu{
	transform: scale(0);
}
.item:nth-child(2){ transition-delay: 0; }
.item:nth-child(3){ transition-delay: 50ms; }
.item:nth-child(4){ transition-delay: 100ms; }
.item:nth-child(5){ transition-delay: 150ms; }
.item:nth-child(6){ transition-delay: 200ms; }
.item:nth-child(7){ transition-delay: 250ms; }