body {
    background: #c0ffee;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    text-align: center;
  }
  h1, a {
    font-weight: 200;
    color: #222;
  }
  
  svg {
    vertical-align: top;
    margin-right: 20px;
  }